<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>logo</key>
		<string>gm_logo_ezetrol.png</string>
		<key>logoSelected</key>
		<string>gm_logo_ezetrol_s.png</string>
		<key>tag</key>
		<integer>0</integer>
		<key>back</key>
		<string>gm_row_back_blue.png</string>
		<key>isPushMode</key>
		<false/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_januvia.png</string>
		<key>logoSelected</key>
		<string>gm_logo_januvia_s.png</string>
		<key>tag</key>
		<integer>1</integer>
		<key>back</key>
		<string>gm_row_back_brown.png</string>
		<key>isPushMode</key>
		<false/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_ocsaar.png</string>
		<key>logoSelected</key>
		<string>gm_logo_ocsaar_s.png</string>
		<key>tag</key>
		<integer>200</integer>
		<key>back</key>
		<string>gm_row_back_blueblack.png</string>
		<key>isPushMode</key>
		<false/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_home.png</string>
		<key>logoSelected</key>
		<string>gm_logo_home_s.png</string>
		<key>tag</key>
		<integer>2</integer>
		<key>back</key>
		<string>gm_row_back_greendark.png</string>
		<key>isPushMode</key>
		<true/>
		<key>isFirstSelected</key>
		<true/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_question.png</string>
		<key>logoSelected</key>
		<string>gm_logo_question_s.png</string>
		<key>tag</key>
		<integer>3</integer>
		<key>back</key>
		<string>gm_row_back_green.png</string>
		<key>isPushMode</key>
		<false/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_univadis.png</string>
		<key>logoSelected</key>
		<string>gm_logo_univadis_s.png</string>
		<key>tag</key>
		<integer>4</integer>
		<key>back</key>
		<string>gm_row_back_browndark.png</string>
		<key>isPushMode</key>
		<false/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_medical.png</string>
		<key>logoSelected</key>
		<string>gm_logo_medical_s.png</string>
		<key>tag</key>
		<integer>12</integer>
		<key>back</key>
		<string>gm_row_back_orange.png</string>
		<key>isPushMode</key>
		<false/>
		<key>email</key>
		<dict>
			<key>logo</key>
			<string>gm_logo_medical_btn.png</string>
			<key>tag</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_doctor.png</string>
		<key>logoSelected</key>
		<string>gm_logo_doctor_s.png</string>
		<key>tag</key>
		<integer>5</integer>
		<key>back</key>
		<string>gm_row_back_brown1.png</string>
		<key>isPushMode</key>
		<true/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_articles.png</string>
		<key>logoSelected</key>
		<string>gm_logo_articles_s.png</string>
		<key>tag</key>
		<integer>6</integer>
		<key>back</key>
		<string>gm_row_back_blacklight.png</string>
		<key>isPushMode</key>
		<true/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_cards.png</string>
		<key>logoSelected</key>
		<string>gm_logo_cards_s.png</string>
		<key>tag</key>
		<integer>7</integer>
		<key>back</key>
		<string>gm_row_back_brownlight.png</string>
		<key>isPushMode</key>
		<true/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_pharmacist.png</string>
		<key>logoSelected</key>
		<string>gm_logo_pharmacist_s.png</string>
		<key>tag</key>
		<integer>8</integer>
		<key>back</key>
		<string>gm_row_back_purple.png</string>
		<key>isPushMode</key>
		<true/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_lecture.png</string>
		<key>logoSelected</key>
		<string>gm_logo_lecture_s.png</string>
		<key>tag</key>
		<integer>9</integer>
		<key>back</key>
		<string>gm_row_back_green1.png</string>
		<key>isPushMode</key>
		<true/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_pain.png</string>
		<key>logoSelected</key>
		<string>gm_logo_pain_s.png</string>
		<key>tag</key>
		<integer>10</integer>
		<key>back</key>
		<string>gm_row_back_olive.png</string>
		<key>isPushMode</key>
		<true/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_redirect.png</string>
		<key>logoSelected</key>
		<string>gm_logo_redirect_s.png</string>
		<key>tag</key>
		<integer>11</integer>
		<key>back</key>
		<string>gm_row_back_bluedark.png</string>
		<key>isPushMode</key>
		<true/>
	</dict>
</array>
</plist>
