<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>previewImage</key>
		<string>arc_chapter1.png</string>
		<key>color</key>
		<string>0xffa9c0</string>
		<key>number</key>
		<integer>0</integer>
		<key>name</key>
		<string>יעילות</string>
		<key>pages</key>
		<array>
			<dict>
				<key>className</key>
				<string>Arc_efficiency_page2</string>
				<key>previewImage</key>
				<string>02_Cochrane.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Arc_efficiency_page3</string>
				<key>previewImage</key>
				<string>03_Cochrane.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Arc_efficiency_page5</string>
				<key>previewImage</key>
				<string>05_Cochrane.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Arc_efficiency_page7</string>
				<key>previewImage</key>
				<string>08_ARX90.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Arc_efficiency_page9</string>
				<key>previewImage</key>
				<string>10_ARX90.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Arc_efficiency_page14</string>
				<key>previewImage</key>
				<string>efficiency14.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Arc_efficiency_page13</string>
				<key>previewImage</key>
				<string>14_Dental.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Arc_efficiency_page8</string>
				<key>previewImage</key>
				<string>09_ARX60.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Arc_efficiency_page11</string>
				<key>previewImage</key>
				<string>12_ARX30.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Effiency_10</string>
				<key>previewImage</key>
				<string>THUMBS_efficency10.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Effiency_11</string>
				<key>previewImage</key>
				<string>THUMBS_efficency11.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Effiency_12</string>
				<key>previewImage</key>
				<string>THUMBS_efficency12.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Effiency_13</string>
				<key>previewImage</key>
				<string>THUMBS_efficency13.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>previewImage</key>
		<string>arc_chapter2.png</string>
		<key>color</key>
		<string>0xfb7f9f</string>
		<key>number</key>
		<integer>1</integer>
		<key>name</key>
		<string>בטיחות</string>
		<key>pages</key>
		<array>
			<dict>
				<key>className</key>
				<string>Safety_01</string>
				<key>previewImage</key>
				<string>THUMBS_sefety01.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Safety_02</string>
				<key>previewImage</key>
				<string>THUMBS_sefety02.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Safety_03</string>
				<key>previewImage</key>
				<string>THUMBS_sefety03.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Arc_cv_page1</string>
				<key>previewImage</key>
				<string>01_medalopen.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Arc_cv_page2</string>
				<key>previewImage</key>
				<string>02_medalopen.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Arc_gi_page1</string>
				<key>previewImage</key>
				<string>02_MEDAL.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Safety_04</string>
				<key>previewImage</key>
				<string>THUMBS_sefety04.png</string>
			</dict>
            <dict>
                <key>className</key>
                <string>Safety_05</string>
                <key>previewImage</key>
                <string>THUMBS_sefety05.png</string>
            </dict>
            <dict>
                <key>className</key>
                <string>Safety_06</string>
                <key>previewImage</key>
                <string>THUMBS_sefety06.png</string>
            </dict>
            <dict>
                <key>className</key>
                <string>Safety_07</string>
                <key>previewImage</key>
                <string>THUMBS_sefety07.png</string>
            </dict>
            <dict>
                <key>className</key>
                <string>Safety_08</string>
                <key>previewImage</key>
                <string>THUMBS_sefety08.png</string>
            </dict>
		</array>
	</dict>
	<dict>
		<key>previewImage</key>
		<string>arc_chapter4.png</string>
		<key>color</key>
		<string>0xce1141</string>
		<key>number</key>
		<integer>3</integer>
		<key>name</key>
		<string>שילוב</string>
		<key>pages</key>
		<array>
			<dict>
				<key>className</key>
				<string>Arc_combo_page1</string>
				<key>previewImage</key>
				<string>01_drugcombo.png</string>
			</dict>
            <dict>
                <key>className</key>
                <string>Combo_02</string>
                <key>previewImage</key>
                <string>THUMBS_combination02.png</string>
            </dict>
            <dict>
                <key>className</key>
                <string>Combo_03</string>
                <key>previewImage</key>
                <string>THUMBS_combination03.png</string>
            </dict>
		</array>
	</dict>
	<dict>
		<key>previewImage</key>
		<string>arc_chapter5.png</string>
		<key>color</key>
		<string>0xb80a37</string>
		<key>number</key>
		<integer>4</integer>
		<key>name</key>
		<string>משך הטיפול</string>
		<key>pages</key>
		<array>
			<dict>
				<key>className</key>
				<string>Arc_timer_page1</string>
				<key>previewImage</key>
				<string>01_time.png</string>
			</dict>
			<dict>
				<key>className</key>
				<string>Arc_timer_page2</string>
				<key>previewImage</key>
				<string>02_time.png</string>
			</dict>
            <dict>
                <key>className</key>
                <string>Time_03</string>
                <key>previewImage</key>
                <string>THUMBS_time03.png</string>
            </dict>
            <dict>
                <key>className</key>
                <string>Time_04</string>
                <key>previewImage</key>
                <string>THUMBS_time04.png</string>
            </dict>
		</array>
	</dict>
	<dict>
		<key>previewImage</key>
		<string>arc_chapter6.png</string>
		<key>color</key>
		<string>0xa3062f</string>
		<key>number</key>
		<integer>5</integer>
		<key>name</key>
		<string>מינונים</string>
		<key>pages</key>
		<array>
			<dict>
				<key>className</key>
				<string>arc_dosage_page1</string>
				<key>previewImage</key>
				<string>01_dosage.png</string>
			</dict>
            <dict>
                <key>className</key>
                <string>Dosage_02</string>
                <key>previewImage</key>
                <string>THUMBS_dosage02.png</string>
            </dict>

		</array>
	</dict>
</array>
</plist>
