<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>info</key>
		<string>arc_efficiency_page1_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>pdfName</key>
				<string>Responder - NNT-ARX 30mg and 60 mg</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>200</integer>
				<key>pdfId</key>
				<integer>10002</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_efficiency_page2_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>2</string>
				<key>pdfName</key>
				<string>mcquay.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>50</integer>
				<key>pdfId</key>
				<integer>10064</integer>
			</dict>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>3</string>
				<key>pdfName</key>
				<string>ARX 30mg and 60 mg.pdf</string>
				<key>fromY</key>
				<integer>50</integer>
				<key>toY</key>
				<integer>100</integer>
				<key>pdfId</key>
				<integer>10002</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_efficiency_page3_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>4</string>
				<key>pdfName</key>
				<string>Cochrane review.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10001</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_efficiency_page4_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>4</string>
				<key>pdfName</key>
				<string>Cochrane review.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10001</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_efficiency_page5_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>4</string>
				<key>pdfName</key>
				<string>Cochrane review.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10001</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_efficiency_page6_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>5</string>
				<key>pdfName</key>
				<string>Lin HY et al_Etoricoxib_POWER Study AP_2010.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10053</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_efficiency_page7_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_doctor.plist</string>
				<key>number</key>
				<string>6</string>
				<key>pdfName</key>
				<string>ACX PI 2012.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>105</integer>
				<key>pdfId</key>
				<integer>10030</integer>
			</dict>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>7</string>
				<key>pdfName</key>
				<string>J Rheumatol-2002-Matsumoto-1623-30.pdf</string>
				<key>fromY</key>
				<integer>105</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10058</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_efficiency_page8_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_doctor.plist</string>
				<key>number</key>
				<string>6</string>
				<key>pdfName</key>
				<string>ACX PI 2012.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>116</integer>
				<key>pdfId</key>
				<integer>10030</integer>
			</dict>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>8</string>
				<key>pdfName</key>
				<string>zacher.pdf</string>
				<key>fromY</key>
				<integer>116</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10059</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_efficiency_page9_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_doctor.plist</string>
				<key>number</key>
				<string>6</string>
				<key>pdfName</key>
				<string>ACX PI 2012.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>116</integer>
				<key>pdfId</key>
				<integer>10030</integer>
			</dict>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>9</string>
				<key>pdfName</key>
				<string>Van Der Heijde - Arcoxia Efficacy.pdf</string>
				<key>fromY</key>
				<integer>116</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10060</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_efficiency_page10_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>9</string>
				<key>pdfName</key>
				<string>Van Der Heijde - Arcoxia Efficacy.pdf</string>
				<key>fromY</key>
				<integer>65</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10060</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_efficiency_page11_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_doctor.plist</string>
				<key>number</key>
				<string>6</string>
				<key>pdfName</key>
				<string>ACX PI 2012.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>78</integer>
				<key>pdfId</key>
				<integer>10030</integer>
			</dict>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>10</string>
				<key>pdfName</key>
				<string>Wiesenhutter.pdf</string>
				<key>fromY</key>
				<integer>78</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10062</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_efficiency_page12_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>11</string>
				<key>pdfName</key>
				<string>Acute Pain - Daniels.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10003</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_efficiency_page14_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>11</string>
				<key>pdfName</key>
				<string>Acute Pain - Daniels.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10003</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_efficiency_page13_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>11</string>
				<key>pdfName</key>
				<string>Acute Pain - Daniels.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10003</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_cv_page1_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>12</string>
				<key>pdfName</key>
				<string>MEDAL LANCET Article online.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10055</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_cv_page2_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>12</string>
				<key>pdfName</key>
				<string>MEDAL LANCET Article online.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10055</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_cv_page3_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>13</string>
				<key>pdfName</key>
				<string>Combe Rheumatology 2009.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10056</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_cv_page4_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>14</string>
				<key>pdfName</key>
				<string>Dallob - Platelet Aggregation.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10057</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_gi_page1_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_doctor.plist</string>
				<key>number</key>
				<string>6</string>
				<key>pdfName</key>
				<string>ACX PI 2012.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>35</integer>
				<key>pdfId</key>
				<integer>10030</integer>
			</dict>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>12</string>
				<key>pdfName</key>
				<string>MEDAL LANCET Article online.pdf</string>
				<key>fromY</key>
				<integer>35</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10055</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_gi_page1_info2.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>15</string>
				<key>pdfName</key>
				<string>Combe Rheumatology 2009.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10056</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_gi_page2_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>16</string>
				<key>pdfName</key>
				<string>MEDAL LANCET Article online.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10055</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_combo_page1_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>17</string>
				<key>pdfName</key>
				<string>Dallob - Platelet Aggregation.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>80</integer>
				<key>pdfId</key>
				<integer>10057</integer>
			</dict>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>18</string>
				<key>pdfName</key>
				<string>Dallob - Platelet Aggregation.pdf</string>
				<key>fromY</key>
				<integer>80</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10057</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_time1_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>16</string>
				<key>pdfName</key>
				<string>MEDAL LANCET Article online.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10055</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_time2_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>16</string>
				<key>pdfName</key>
				<string>MEDAL LANCET Article online.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10055</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_dosage1_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_doctor.plist</string>
				<key>number</key>
				<string>6</string>
				<key>pdfName</key>
				<string>ACX PI 2012.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>300</integer>
				<key>pdfId</key>
				<integer>10030</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<string>arc_info.png</string>
		<key>links</key>
		<array>
			<dict>
				<key>plistName</key>
				<string>arc_doctor.plist</string>
				<key>number</key>
				<string>1</string>
				<key>pdfName</key>
				<string>Arcoxia PI.pdf</string>
				<key>fromY</key>
				<integer>0</integer>
				<key>toY</key>
				<integer>60</integer>
				<key>pdfId</key>
				<integer>10030</integer>
			</dict>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>2</string>
				<key>pdfName</key>
				<string>J Rheumatol-2002-Matsumoto-1623-30.pdf</string>
				<key>fromY</key>
				<integer>60</integer>
				<key>toY</key>
				<integer>338</integer>
				<key>pdfId</key>
				<integer>10058</integer>
			</dict>
			<dict>
				<key>plistName</key>
				<string>arc_articles.plist</string>
				<key>number</key>
				<string>3</string>
				<key>pdfName</key>
				<string>Dallob - Platelet Aggregation.pdf</string>
				<key>fromY</key>
				<integer>339</integer>
				<key>toY</key>
				<integer>395</integer>
				<key>pdfId</key>
				<integer>10057</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
