<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>logo</key>
		<string>gm_logo_ezetrol.png</string>
		<key>logoSelected</key>
		<string>gm_logo_ezetrol_s.png</string>
		<key>tag</key>
		<integer>200</integer>
		<key>back</key>
		<string>gm_row_back_blue.png</string>
		<key>isPushMode</key>
		<false/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_januetXR.png</string>
		<key>logoSelected</key>
		<string>gm_logo_januetXR_s.png</string>
		<key>tag</key>
		<integer>100</integer>
		<key>back</key>
		<string>gm_row_back_brown.png</string>
		<key>isPushMode</key>
		<false/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_ocsaar.png</string>
		<key>logoSelected</key>
		<string>gm_logo_ocsaar_s.png</string>
		<key>tag</key>
		<integer>800</integer>
		<key>back</key>
		<string>gm_row_back_blueblack.png</string>
		<key>isPushMode</key>
		<false/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_home.png</string>
		<key>logoSelected</key>
		<string>gm_logo_home_s.png</string>
		<key>tag</key>
		<integer>2</integer>
		<key>back</key>
		<string>gm_row_back_greendark.png</string>
		<key>isPushMode</key>
		<true/>
		<key>isFirstSelected</key>
		<true/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_question.png</string>
		<key>logoSelected</key>
		<string>gm_logo_question_s.png</string>
		<key>tag</key>
		<integer>3</integer>
		<key>back</key>
		<string>gm_row_back_green.png</string>
		<key>isPushMode</key>
		<false/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_univadis.png</string>
		<key>logoSelected</key>
		<string>gm_logo_univadis_s.png</string>
		<key>tag</key>
		<integer>4</integer>
		<key>back</key>
		<string>gm_row_back_browndark.png</string>
		<key>isPushMode</key>
		<false/>
	</dict>
	<dict>
		<key>logo</key>
		<string>gm_logo_medical.png</string>
		<key>logoSelected</key>
		<string>gm_logo_medical_s.png</string>
		<key>tag</key>
		<integer>12</integer>
		<key>back</key>
		<string>gm_row_back_orange.png</string>
		<key>isPushMode</key>
		<false/>
		<key>email</key>
		<dict>
			<key>logo</key>
			<string>gm_logo_medical_btn.png</string>
			<key>tag</key>
			<integer>1</integer>
		</dict>
	</dict>
</array>
</plist>
